body,
html {
	height: 100%;
	background: #000000;
}

#game__hp-money-bar {
	position: absolute;
	width: 150px;
	display: flex;
	flex-direction: column;
	right: 70px;
	top: 35px;
	justify-content: space-evenly;
	min-height: 80px;
	padding-left: 10px;
	background-color: rgba(0, 0, 0, 0.347);
	font-weight: 700;
	font-size: 20px;
}

#game__money-container {
	color: goldenrod;

}

#game__money-container.active {
	animation-duration: 1.5s;
	animation-name: slidein;
	animation-iteration-count: 2;
}

@keyframes slidein {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}

#game__hp-container {
	color: rgba(178, 50, 50, 0.804);
}

#game__sound-icon {
	position: absolute;
	right: 250px;
	top: 35px;
	width: 96px;
	height: 96px;
	min-width: 20px;
	min-height: 20px;
}

#game__menu {
	display: flex;
	position: fixed;
	justify-content: center;
	width: 100%;
	top: 80%;
}

.game__menu-item-wrapper {
	background: rgba(44, 44, 44, 0.725);
	border: solid;
	margin: 5px;
}

.game__menu-item {
	/* background: url('../assets/sprites/Red/Weapons/turret_02_mk1.png'); */
	background-repeat: no-repeat;
	background-position: 0 0;
	/* height: 128px;
	width: 128px; */
}

.game__menu-item-wrapper:hover {
	opacity: 0.6;
}