body,
html {
	background: #000000;
	margin: 0;
}

.game__container {
	overflow-y: hidden;
}

@keyframes slidein {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}

.game__hp-money-container {
	position: fixed;
	width: 120px;
	display: flex;
	flex-direction: column;
	right: 50px;
	top: 35px;
	padding-left: 10px;
	gap: 15px;
	font-size: 22px;
}

.game__money-container {
	position: relative;
	width: 150px;
	display: flex;
	align-items: center;
	height: 25px;
	font-family: gameMenuTitle;
	color: gold;
	gap: 15px;
}

.game__money-container-coin {
	font-size: 30px;
}

.game__hp-container {
	display: flex;
	position: relative;
	width: 150px;
	align-items: center;
	height: 25px;
	font-family: gameMenuTitle;
	color: #ff1212;
	gap: 15px;
}

.game__hp-container-heart {
	font-size: 30px;
}

.game__sound-icon {
	position: absolute;
	right: 250px;
	top: 35px;
	width: 96px;
	height: 96px;
	min-width: 20px;
	min-height: 20px;
}

.game__menu {
	margin: 0px 15px;
	display: none;
	position: relative;
	font-size: 15px;
	gap: 5px;
}

.game__menu-item-wrapper {
	background: rgba(44, 44, 44, 0.725);
	border: solid;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	color: cadetblue;
	max-width: 128px;
}

.game__menu-item-title {
	flex: 1 1 auto;
	text-align: center;
	padding: 5px;
	font-family: gameMenuTitle;
}

.game__menu-item-price {
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: center;
	gap: 5px;
	font-size: 20px;
	font-family: gameMenuPrice;
	color: gold;
	border-top: cadetblue 3px solid;
}

.game__menu-item-img {
	background: url('../assets/sprites/towers/supremeLaserCannon.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 128px;
	width: 128px;
}

.game__menu-item-wrapper:hover {
	opacity: 0.7;
}

.game__menu-placeholder {
	display: flex !important;
	position: fixed;
	top: 25px;
	left: 25px;
}

.game__menu-shop-icon {
	height: 70px;
	width: 70px;
}


@font-face {
	font-family: gameMenuTitle;
	src: url(./fonts/AquireBold-8Ma60.otf);
}

@font-face {
	font-family: gameMenuPrice;
	src: url(./fonts/Aquire-BW0ox.otf);
}