body,
html {
	background: #000000;
	margin: 0;
}

#game__timer {
	left: 50%;
	display: none;
	align-items: center;
	top: 20%;
	padding: 10px;
	transform: translate(-50%);
	font-size: 30px;
	position: fixed;
	justify-content: center;
	font-family: gameMenuTitle;
	height: 200px;
	width: 500px;
	gap: 25px
}

#game__timer-value {
	width: 100px;
	animation: 1s linear 0s infinite alternate animating-multiple-properties;
}

/* it is possible to animate multiple properties in a single animation */
@keyframes animating-multiple-properties {
	from {
		font-size: 30px;
	}

	to {
		font-size: 45px;
		/* unset properties i.e. 'filter' will revert to default values */
	}
}


.game__container {
	overflow-y: hidden;
	position: relative;
	width: fit-content;
	margin: auto;
}

.game__update-tower-menu-upgradeBtn {
	font-family: gameMenuTitle;
	display: flex;
	gap: 5px;
}

.game__update-tower-menu-upgradeBtn .fa-solid.fa-coins,
.game__update-tower-menu-upgradeBtn-price {
	font-size: 15px !important;
	color: gold !important;
}

#game__update-tower-menu {
	display: none;
	position: absolute;
	justify-content: space-between;
	gap: 70px;
}

#game__update-tower-menu button {
	background: rgb(192 50 50 / 48%);
	height: 40px;
	width: 100px;
}


#game__update-tower-menu button {
	display: flex;
	align-items: center;
	justify-content: center;
}

#game__update-tower-menu button:nth-child(1) i {
	color: #75e075;

}

#game__update-tower-menu button:nth-child(2) i {
	color: red;
}


#game__update-tower-menu i {
	font-size: 20px;
}

@keyframes slidein {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}

#game__hp-money-container {
	position: fixed;
	width: 120px;
	display: flex;
	flex-direction: column;
	top: 35px;
	padding-left: 10px;
	gap: 15px;
	font-size: 22px;
}

.game__money-container {
	position: relative;
	display: flex;
	align-items: center;
	height: 25px;
	font-family: gameMenuTitle;
	color: gold;
	gap: 15px;
}

.game__money-container-coin {
	font-size: 30px;
}

.game__hp-container {
	display: flex;
	position: relative;
	align-items: center;
	height: 25px;
	font-family: gameMenuTitle;
	color: #ff1212;
	gap: 15px;
}

.game__hp-container-heart {
	font-size: 30px;
}

.game__sound-icon {
	position: absolute;
	right: 250px;
	top: 35px;
	width: 96px;
	height: 96px;
	min-width: 20px;
	min-height: 20px;
}

.game__menu {
	margin: 0px 15px;
	display: none;
	position: relative;
	font-size: 15px;
	gap: 5px;
}

.game__menu-item-wrapper {
	background: rgba(44, 44, 44, 0.725);
	border: solid;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	color: cadetblue;
	max-width: 128px;
}

.game__menu-item-title {
	flex: 1 1 auto;
	text-align: center;
	padding: 5px;
	font-family: gameMenuTitle;
}

.game__menu-item-price {
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: center;
	gap: 5px;
	font-size: 20px;
	font-family: gameMenuPrice;
	color: gold;
	border-top: cadetblue 3px solid;
}

.game__menu-item-img {
	height: 128px;
	width: 128px;
}

.game__menu-item-wrapper:hover {
	opacity: 0.7;
}

#game__menu-placeholder {
	display: flex;
	position: fixed;
	top: 25px;
	left: 25px;
}

.game__menu-shop-icon {
	font-size: 60px;
	color: #010043;
	height: fit-content;
}

#game__background-audio-btn {
	position: fixed;
	right: 15px;
	top: 35px;
	font-size: 25px;
	color: white;
}

@font-face {
	font-family: gameMenuTitle;
	src: url(./fonts/AquireBold-8Ma60.otf);
}

@font-face {
	font-family: gameMenuPrice;
	src: url(./fonts/Aquire-BW0ox.otf);
}