body {
	background: black;
	margin: 0px;
}

#main-menu-container {
	background-image: url(../assets/patterns/StoneFloorTexture.png);
	width: 100%;
}

#menu-container {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#menu-header {
	font-family: 'menuTitleFont';
	font-size: 7vh;
	color: darkred;
}

.menu-item {
	display: flex;
	padding: 0 25px;
	padding-top: 15px;
	justify-content: center;
	font-family: 'menuItemFont';
	font-size: 3vh;
	border: 5px solid;
	margin: 5px;
	background-color: rgba(94, 90, 118, 0.8);
	border-radius: 35%;
}

.menu-item:hover {
	background-color: rgba(94, 90, 118, 0.65);
}

.menu-item:visited {
	background-color: rgba(71, 61, 130, 0.800);
}

.menu-item:active {
	background-color: rgb(56, 56, 6);
}

@font-face {
	font-family: menuItemFont;
	src: url(./fonts/DarkBookDemoRegular.ttf);
}

@font-face {
	font-family: menuTitleFont;
	src: url(./fonts/Rudelsberg.ttf);
}